flows_mikmak.json
[{"type":"tab","id":"3b30765c.c4cf8a","label":"Collect Weather Data","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"20f8d1f8.df072e","label":"sendCurrentWeatherData","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"591538b4.97b99","label":"Download Weather Data","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"77506d72.7e1a1c","label":"Controll LoPoSwitch","_def":{"defaults":{"label":{"value":""}}}},{"id":"428f3c86.bd70c4","type":"sqldb","z":"3b30765c.c4cf8a","name":"","dialect":"mysql","hostname":"mikmak.cc","port":"5432","db":"weatherDW","minpool":"0","maxpool":"2","ssl":false},{"id":"9bcc74a8.643388","type":"MySQLdatabase","z":"3b30765c.c4cf8a","host":"mikmak.cc","port":"3306","db":"weatherDW","tz":""},{"id":"2b4970d3.d4b69","type":"mqtt-broker","z":"3b30765c.c4cf8a","broker":"mikmak.cc","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"3b26d066.c4d93","type":"websocket-listener","z":"20f8d1f8.df072e","path":"/ws/weatherData","wholemsg":"false"},{"id":"872f4af8.02c9c","type":"mqtt-broker","z":"77506d72.7e1a1c","broker":"mikmak.cc","port":"1883","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e00b2edf.1ff4d","type":"debug","z":"3b30765c.c4cf8a","name":"","active":true,"console":"false","complete":"payload","x":1230.5,"y":845,"wires":[]},{"id":"1a627ce0.e59d83","type":"http request","z":"3b30765c.c4cf8a","name":"","method":"GET","ret":"txt","url":"http://data.geo.admin.ch/ch.meteoschweiz.swissmetnet/VQHA69.csv","tls":"","x":367.5,"y":90,"wires":[["bcc1d091.433e3"]]},{"id":"82c53417.7d3ac8","type":"inject","z":"3b30765c.c4cf8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.5,"y":101,"wires":[["1a627ce0.e59d83"]]},{"id":"bcc1d091.433e3","type":"csv","z":"3b30765c.c4cf8a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":570.5,"y":86,"wires":[["a4ded211.5b213"]]},{"id":"a4ded211.5b213","type":"split","z":"3b30765c.c4cf8a","name":"","splt":"|","x":657.5,"y":243,"wires":[["2eeaf8c2.d11508"]]},{"id":"2eeaf8c2.d11508","type":"csv","z":"3b30765c.c4cf8a","name":"","sep":"|","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":654.5,"y":343,"wires":[["67470470.98b8fc"]]},{"id":"30513b76.cfaec4","type":"function","z":"3b30765c.c4cf8a","name":"generate Query","func":"var query = \"CALL `writeWeatherLog`(\"+ \"'\" + \"79cf6c22-dcc6-11e5-8e77-00113217113f\" + \"'\"  + \",\"+ \"'\" + msg.payload.col3+ \"'\" + \",\"+ \"'\" + msg.payload.col7+ \"'\" + \",\"+ \"'\" + msg.payload.col5 + \"'\"+ \",\"+ \"'\" + msg.payload.col11+ \"'\" + \",\"+ \"'\"+ msg.payload.col10+ \"'\" + \",\"+ \"'\" + msg.payload.col1+ \"'\" +\",'\" + msg.payload.col2+  \"'\" + \")\";\n\n\nvar msg = { topic: query };\nreturn msg;","outputs":1,"noerr":0,"x":630.5,"y":651,"wires":[[]]},{"id":"67470470.98b8fc","type":"switch","z":"3b30765c.c4cf8a","name":"","property":"payload.col1","propertyType":"msg","rules":[{"t":"eq","v":"WAE","vt":"str"}],"checkall":"true","outputs":1,"x":564.5,"y":572,"wires":[["30513b76.cfaec4","f39a4966.0c65b8"]]},{"id":"df8da281.ff747","type":"http request","z":"3b30765c.c4cf8a","name":"","method":"GET","ret":"txt","url":"localhost/weather/postData.php?{{{topic}}}","tls":"","x":1170,"y":515.8300170898438,"wires":[["e00b2edf.1ff4d"]]},{"id":"f39a4966.0c65b8","type":"function","z":"3b30765c.c4cf8a","name":"generate http request","func":"var query = \"sysID=\" + \"79cf6c22-dcc6-11e5-8e77-00113217113f\" + \"&temperature=\" + msg.payload.col3+ \"&wind=\" + msg.payload.col7+ \"&rain=\" + msg.payload.col5 + \"&pressure=\" + msg.payload.col11+ \"&humidity=\"+ msg.payload.col10+ \"&lon=\" + msg.payload.col1+ \"&lat=\" + msg.payload.col2;\nvar msg = { topic: query };\nreturn msg;","outputs":1,"noerr":0,"x":833.5,"y":582,"wires":[["df8da281.ff747"]]},{"id":"91fcc704.6e0338","type":"http in","z":"20f8d1f8.df072e","name":"weatherData","url":"/weatherData","method":"get","swaggerDoc":"","x":327.5,"y":253,"wires":[["71a62ab6.8e59d4","f4fb1c64.0b04e"]]},{"id":"71a62ab6.8e59d4","type":"debug","z":"20f8d1f8.df072e","name":"","active":true,"console":"false","complete":"true","x":675.5,"y":147,"wires":[]},{"id":"46fe3516.b901cc","type":"http response","z":"20f8d1f8.df072e","name":"currentWeatherData","x":701.5,"y":421,"wires":[]},{"id":"f4fb1c64.0b04e","type":"delay","z":"20f8d1f8.df072e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":604.5,"y":281,"wires":[["46fe3516.b901cc"]]},{"id":"250e0171.fdcd2e","type":"inject","z":"591538b4.97b99","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":123.5,"y":68,"wires":[["20e24cfe.6b08bc"]]},{"id":"20e24cfe.6b08bc","type":"exec","z":"591538b4.97b99","command":"python3 /var/services/homes/admin/.node-red/GetActualWeatherData.py","addpay":false,"append":"","useSpawn":"","timer":"20","name":"getActualWeatherData.py","x":370.5,"y":170.5,"wires":[["2e1eb77.13e0cc8","4f0c85c3.a7ebd4"],["2e1eb77.13e0cc8"],["2e1eb77.13e0cc8"]]},{"id":"2e1eb77.13e0cc8","type":"debug","z":"591538b4.97b99","name":"","active":true,"console":"false","complete":"false","x":977.5,"y":173,"wires":[]},{"id":"da4b1d1b.cd58f","type":"inject","z":"77506d72.7e1a1c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":60,"wires":[["b67afb78.c84be8"]]},{"id":"baec8435.cfbf9","type":"mqtt in","z":"77506d72.7e1a1c","name":"LoPoSwitch RX","topic":"79cf6c22-dcc6-11e5-8e77-00113217113f/loposwitch/RX","qos":"0","broker":"872f4af8.02c9c","x":160,"y":440,"wires":[["aba5f5ef.863f1"]]},{"id":"5d29310a.0bbcb8","type":"mqtt out","z":"77506d72.7e1a1c","name":"LoPoSwitch TX","topic":"79cf6c22-dcc6-11e5-8e77-00113217113f/loposwitch/TX","qos":"0","retain":"false","broker":"872f4af8.02c9c","x":660,"y":200,"wires":[]},{"id":"aec873be.321bf8","type":"inject","z":"77506d72.7e1a1c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":180,"wires":[["7046b6cb.1945f"]]},{"id":"aba5f5ef.863f1","type":"debug","z":"77506d72.7e1a1c","name":"","active":true,"console":"false","complete":"false","x":650,"y":380,"wires":[]},{"id":"447e6f72.d824d","type":"inject","z":"77506d72.7e1a1c","name":"","topic":"Reconnect","payload":"Reconnect","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["5d29310a.0bbcb8"]]},{"id":"7a1f9375.e7d19c","type":"http in","z":"20f8d1f8.df072e","name":"predictIrrigation","url":"/predictIrrigation","method":"get","swaggerDoc":"","x":131.5,"y":622,"wires":[["a184f1ff.d776d8"]]},{"id":"ee794ae6.8e863","type":"http response","z":"20f8d1f8.df072e","name":"","x":1017.5,"y":612,"wires":[]},{"id":"8e0fba51.c439d","type":"function","z":"20f8d1f8.df072e","name":"Predict Irrigation","func":"var PredictedTime = context.global.PredictedTime;\nmsg.payload = {\n    \"Quantity\": 120,\n    \"Time\": PredictedTime \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":772.5,"y":677,"wires":[["ee794ae6.8e863"]]},{"id":"db0c8a19.69c51","type":"http in","z":"77506d72.7e1a1c","name":"Set ON","url":"/LowPowerSwitch/setOn","method":"get","swaggerDoc":"","x":130,"y":100,"wires":[["b67afb78.c84be8","cc909be9.d570f"]]},{"id":"b67afb78.c84be8","type":"function","z":"77506d72.7e1a1c","name":"Set 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["5d29310a.0bbcb8"]]},{"id":"cc909be9.d570f","type":"http response","z":"77506d72.7e1a1c","name":"","x":630,"y":140,"wires":[]},{"id":"506bea8c.aa56e4","type":"http in","z":"77506d72.7e1a1c","name":"Set OFF","url":"/LowPowerSwitch/setOff","method":"get","swaggerDoc":"","x":120,"y":220,"wires":[["7046b6cb.1945f","cc909be9.d570f"]]},{"id":"7046b6cb.1945f","type":"function","z":"77506d72.7e1a1c","name":"Set 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["5d29310a.0bbcb8"]]},{"id":"da92444f.b9332","type":"exec","z":"591538b4.97b99","command":"cd /var/services/homes/admin/.node-red; python3 -W ignore Process.Predict.py","addpay":false,"append":"","useSpawn":false,"timer":"","name":"Predict","x":674,"y":486,"wires":[["cf3db290.85e688"],["2e1eb77.13e0cc8"],["2e1eb77.13e0cc8"]]},{"id":"cf3db290.85e688","type":"function","z":"591538b4.97b99","name":"Store Predicted Value","func":"context.global.PredictedTime = msg.payload;\n\nreturn context.global.PredictedTime;","outputs":1,"noerr":0,"x":940.5,"y":485,"wires":[["2e1eb77.13e0cc8"]]},{"id":"4f0c85c3.a7ebd4","type":"delay","z":"591538b4.97b99","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570.5,"y":293,"wires":[["da92444f.b9332"]]},{"id":"ef3ab440.7681c8","type":"function","z":"77506d72.7e1a1c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[[]]},{"id":"a184f1ff.d776d8","type":"delay","z":"20f8d1f8.df072e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":660,"wires":[["8e0fba51.c439d"]]}]