lib/flows/collect.weather.data
[{"id":"e00b2edf.1ff4d","type":"debug","z":"3b30765c.c4cf8a","name":"","active":true,"console":"false","complete":"payload","x":1230.5,"y":845,"wires":[]},{"id":"1a627ce0.e59d83","type":"http request","z":"3b30765c.c4cf8a","name":"","method":"GET","ret":"txt","url":"http://data.geo.admin.ch/ch.meteoschweiz.swissmetnet/VQHA69.csv","tls":"","x":367.5,"y":90,"wires":[["bcc1d091.433e3"]]},{"id":"82c53417.7d3ac8","type":"inject","z":"3b30765c.c4cf8a","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":131.5,"y":101,"wires":[["1a627ce0.e59d83"]]},{"id":"bcc1d091.433e3","type":"csv","z":"3b30765c.c4cf8a","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":570.5,"y":86,"wires":[["a4ded211.5b213"]]},{"id":"a4ded211.5b213","type":"split","z":"3b30765c.c4cf8a","name":"","splt":"|","x":657.5,"y":243,"wires":[["2eeaf8c2.d11508"]]},{"id":"2eeaf8c2.d11508","type":"csv","z":"3b30765c.c4cf8a","name":"","sep":"|","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":654.5,"y":343,"wires":[["67470470.98b8fc"]]},{"id":"30513b76.cfaec4","type":"function","z":"3b30765c.c4cf8a","name":"generate Query","func":"var query = \"CALL `writeWeatherLog`(\"+ \"'\" + \"79cf6c22-dcc6-11e5-8e77-00113217113f\" + \"'\"  + \",\"+ \"'\" + msg.payload.col3+ \"'\" + \",\"+ \"'\" + msg.payload.col7+ \"'\" + \",\"+ \"'\" + msg.payload.col5 + \"'\"+ \",\"+ \"'\" + msg.payload.col11+ \"'\" + \",\"+ \"'\"+ msg.payload.col10+ \"'\" + \",\"+ \"'\" + msg.payload.col1+ \"'\" +\",'\" + msg.payload.col2+  \"'\" + \")\";\n\n\nvar msg = { topic: query };\nreturn msg;","outputs":1,"noerr":0,"x":630.5,"y":651,"wires":[[]]},{"id":"67470470.98b8fc","type":"switch","z":"3b30765c.c4cf8a","name":"","property":"payload.col1","propertyType":"msg","rules":[{"t":"eq","v":"WAE","vt":"str"}],"checkall":"true","outputs":1,"x":564.5,"y":572,"wires":[["30513b76.cfaec4","f39a4966.0c65b8"]]},{"id":"df8da281.ff747","type":"http request","z":"3b30765c.c4cf8a","name":"","method":"GET","ret":"txt","url":"localhost/weather/postData.php?{{{topic}}}","tls":"","x":1170,"y":515.8300170898438,"wires":[["e00b2edf.1ff4d"]]},{"id":"f39a4966.0c65b8","type":"function","z":"3b30765c.c4cf8a","name":"generate http request","func":"var query = \"sysID=\" + \"79cf6c22-dcc6-11e5-8e77-00113217113f\" + \"&temperature=\" + msg.payload.col3+ \"&wind=\" + msg.payload.col7+ \"&rain=\" + msg.payload.col5 + \"&pressure=\" + msg.payload.col11+ \"&humidity=\"+ msg.payload.col10+ \"&lon=\" + msg.payload.col1+ \"&lat=\" + msg.payload.col2;\nvar msg = { topic: query };\nreturn msg;","outputs":1,"noerr":0,"x":833.5,"y":582,"wires":[["df8da281.ff747"]]}]